<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Movie</title>
</head>
<body>
    <h1>{% if movie %}Update Movie {% else %} Create Movie {% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        <label for="title">Title</label><br>
        <input type="text" name="title" id="title"><br>
        <label for="director">Director</label><br>
        <input type="text" name="director" id="director"><br>
        <label for="year">Year</label><br>
        <input type="number" name="year" id="year"><br>
        <label for="genre">Genre</label><br>
        <input type="text" name="genre" id="genre"><br><br>
        <button type="submit">{% if movie %}Update{% else %}Create{% endif %}</button>
    </form>
    <br>
    <button type="submit"><a href="{% url 'movies:list' %}">Back to list</a></button>
</body>
</html>