
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Sport</title>
</head>
<body>
    <h1>{% if sport %}Update Sport {% else %} Create Sport {% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        <label for="event">Location</label><br>
        <input type="text" name="event" id="event"><br>
        <label for="location">Location</label><br>
        <input type="text" name="location" id="location"><br>
        <label for="date">Date</label><br>
        <input type="date" name="date" id="date"><br>
        <label for="type">Type</label><br>
        <input type="text" name="type" id="type"><br><br>
        <button type="submit">{% if sport %}Update{% else %}Create{% endif %}</button>
    </form>
    <br>
    <button type="submit"><a href="{% url 'sports:list' %}">Back to list</a></button>
</body>
</html>
